body {
  background: #242424;
  margin: 0;
  padding: 0;
  color: white;
  font-family: system-ui;
}
.descriptionBg {
  width: 100%;
}
.descriptionBg .descriptionHeader {
  width: 80%;
  height: 70px;
  display: flex;
  align-items: center;
  margin: 5px 10%;
  gap: 15px;
}
.descriptionBg .descriptionHeader a,
p {
  font-size: 1.1rem;
  font-weight: 600;
}
.descriptionBg .descriptionHeader a:hover {
  text-decoration: underline;
}
.descriptionBg .container {
  width: 80%;
  margin: 10px 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.descriptionBg .container .imageContainer img {
  width: 80%;
  margin: 10px 10%;
}
.descriptionBg .container .imageContainer h4 {
  width: 80%;
  margin: 10px 10%;
  font-size: 1.3rem;
  padding: 8px 7px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 0.2rem;
  text-align: center;
}
.descriptionBg .container .imageContainer p {
  font-size: 1rem;
  margin-top: 1rem;
}
.descriptionBg .container .textContainer {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 30px;
}
.descriptionBg .container .textContainer .heading {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 12px;
}
.descriptionBg .container .textContainer .heading p {
  width: 30px;
  height: 30px;
  background: rgb(0, 153, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-radius: 50%;
}
.descriptionBg .container .textContainer .heading h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
}
.descriptionBg .container .textContainer .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
  margin: 0;
}
.descriptionBg .container .textContainer .container input {
  display: none;
}
.descriptionBg .container .textContainer .container label {
  width: 90%;
  background: transparent;
  border: 1px solid aliceblue;
  padding: 9px 10px;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  color: aliceblue;
  cursor: pointer;
}
.descriptionBg
  .container
  .textContainer
  .container
  input[type="radio"]:checked
  + label {
  background: rgb(0, 153, 255);
}
.descriptionBg .container .textContainer .buttonDiv .calculate,
.calculate .numbers,
.calculate .increaseBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}
.descriptionBg
  .container
  .textContainer
  .buttonDiv
  .calculate
  .increaseBtn
  button {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(0, 153, 255);
  color: rgb(0, 153, 255);
  font-size: 1.2rem;
  border-radius: 50%;
  background: transparent;
}
.descriptionBg .container .textContainer .buttonDiv .calculate .increaseBtn h4 {
  font-size: 1.1rem;
}
.descriptionBg .container .textContainer .buttonDiv button {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  font-size: 1.1rem;
  background: rgb(0, 153, 255);
  color: white;
}

@media (max-width: 620px) {
  .descriptionBg .descriptionHeader {
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 5px 5%;
    gap: 5px;
  }

  .descriptionBg .descriptionHeader a,
  p {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .descriptionBg .container {
    width: 100%;
    margin: 10px 0%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .imageContainer {
    text-align: center;
  }
  .descriptionBg .container .imageContainer img {
    width: 90%;
    margin: 10px 5%;
  }
  .descriptionBg .container .imageContainer p {
    font-size: 1rem;
    margin-top: 1rem;
    width: 90%;
    margin: 15px 5%;
  }

  .descriptionBg .container .imageContainer h4 {
    width: 90%;
    margin: 10px 5%;
  }

  .descriptionBg .container .textContainer {
    width: calc(90% -10px);
    margin: 5px 5%;
    padding: 10px;
  }
  .descriptionBg .container .textContainer .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 17px;
    margin: 0;
  }
}
